.vfrc-header {
  background-color: transparent;
  color: transparent;
}

.vfrc-avatar {
  opacity: 0;
}

.vfrc-chat {
  min-height: 350px;
  max-height: 500px;
}

.vfrc-header {
  max-height: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}
