.vfrc-header {
  background-color: transparent;
  color: transparent;
  max-height: 1px;
  padding: 0;
}

.vfrc-avatar {
  opacity: 0;
}

.vfrc-chat {
  min-height: 250px;
  max-height: 470px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

._1vj16245 {
  background: none;
}
