.vfrc-header {
  background-color: transparent;
  color: transparent;
}

.vfrc-avatar {
  opacity: 0;
}

.vfrc-chat {
  min-height: 250px;
  max-height: 400px;
}

.vfrc-header {
  max-height: 1px;
  padding-top: none;
  padding-bottom: none;
}
